html,
body {
  text-align: center;
  height: 90%;   
  margin: auto;  
  position: absolute;  
  top: 0; left: 0; bottom: 0; right: 0;  
  font-style: bold;
  color: brown;
}

h1 {
  font-size: 50px;
  
}

#jobtitle{ 
  font-size: 35px;
}

#Language{
  font-size: 30px;
}

#end{
  font-size: 30px;
}

